@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-back-color: #272727;
    --main-white-color: #f6f6f6;
    --sub-back-color: #2D2D2D;
    --dark-gray: #545454;
    --white:#fff;
    --para-color: #454545;
    --font-size-para: 20px;
    --headings-color:#343434;
    --headings-color-light:#f6f6f6;
    --container-padding : 60px 0;
}
.container{
    margin: 0 60px;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: var(--sub-back-color);
}
::-webkit-scrollbar-thumb{
    background-color: var(--dark-gray);
}
body{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--sub-back-color);
    padding: 12px 0;
    width: 100%;
}

header a{
    color: var(--white);
    padding: 3px 15px;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.3s;
}
header a:hover{
    background-color: #57887b;
    color: var(--white);
}
.navigation-links a.active{
    background-color: #57887b;
}
.logo{
    width: 15%;
}
.logo img{
    width: 50px;
}
.navigation-links{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.status-btns{
    width: 20%;
    text-align: right;
}

#searchSection{
    background-color: #545454;
    padding: 25px 15%;
}
#searchSec{
    margin-bottom: 25px;
}
#searchSec select{
    padding: 5px 8px;
}
#searchSec input{
    padding: 5px 8px;
    width: 90%;
}
#filterSec{
    display: flex;
    gap: 15px;
}
#filterSec select{
    padding: 5px 8px;
}
#result{
    padding: 0 12%;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table td,table th {
  border: 1px solid #ddd;
  padding: 8px;
}
table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #57887b;
  color: white;
}
footer{
    text-align: center;
    background-color: #57887b;
    color: #fff;
    height: 100px;
}