@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --main-back-color: #272727;
  --main-white-color: #f6f6f6;
  --sub-back-color: #2D2D2D;
  --dark-gray: #545454;
  --white: #fff;
  --para-color: #454545;
  --font-size-para: 20px;
  --headings-color: #343434;
  --headings-color-light: #f6f6f6;
  --container-padding: 60px 0;
  --body-background: #545454;
}

.container {
  margin: 0 60px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--sub-back-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-gray);
}

body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
/* body img{
  height: 25vh;
  width: 15vw;
} */
.container{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  /* background: linear-gradient(90deg, rgb(0, 43, 102)60%,rgb(0, 70, 145) 40.1%); */

  /* background: linear-gradient(-45deg, rgb(0, 43, 102)60%, rgb(0, 70, 145), rgb(0, 70, 145), rgb(0, 43, 102));
	background-size: 400% 400%;
	animation: gradient 5s ease-in-out infinite;   */

	background-size: 160% 100%;
	animation: gradient 35s ease-in-out infinite;  

    /* background-image: url("https://assets.unenvironment.org/decadeonrestoration/2020-03/rough-horn-2146181_1280.jpg"); */
   
    background-repeat: no-repeat; /* Do not repeat the image
    /* background-size: cover;  */


    
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Navbar Start */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-back-color);
  padding: 12px 0;
  width: 100%;
  z-index: 99;
  position: fixed;
  top: 0px;
  box-shadow: rgba(34, 59, 59, 0.25) 0px 13px 27px -5px, rgba(68, 108, 83, 0.3) 0px 8px 16px -8px;
}
.navigation-links a {
  color: var(--white);
  padding: 3px 15px;
  border-radius: 3px;
  font-weight: 500;
  transition: all 0.3s;
}

.navigation-links a:hover {
  background-color: var(--white);
  color: #436c61;
}

.navigation-links a.active {
  background-color: var(--white);
  color: #436c61;

}

.logo {
  width: 15%;
}

.logo img {
  width: 50px;
}

.navigation-links {
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.status-btns {
  cursor: pointer;
  text-align: right;
  position: relative;
  width: 13%;
}
#ShowuserName {
  color: var(--headings-color-light);
  text-transform: capitalize;
  margin: 0;
}
.ShowUser{
  font-size: 18px;
  text-transform: capitalize;
}
.status-btns img {
  width: 35px;
  border-radius: 50%;
  margin-left: 18px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.status-btns .userNameImg{
  display: flex;
  align-items: center;
  justify-content: end;
}
.status-btns img:hover {
  transform: scale(1.1);
}

.user-details {
  position: absolute;
  top: 100px;
  right: -0px;
  background-color: var(--dark-gray);
  padding: 20px;
  text-align: start;
  width: 200px;
  height: 220px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.user-details>div {
  text-align: center;
  margin-bottom: 20px;
}
.user-details>div img{
  margin: 0;
  width: 50px;
}
.status-btns:hover .user-details {
  top: 55px;
  opacity: 1;
  visibility: visible;
  cursor: auto;
}

.status-btns p {
  color: var(--headings-color-light);
  margin: 5px 0;
}

.status-btns a {
  color: var(--headings-color-light);
  display: block;
  margin: 5px 0;
  border-bottom: 1px solid var(--light-gray);
  padding: 5px;
  transition: color 0.2s ease-in-out,
              margin-left 0.2s ease-in-out;
}

.user-details a:hover {
  color: var(--light-lighter-gray);
  margin-left: 2px;
}

/* Navbar End */


.container form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  border-radius: 10px;
  opacity: 85%;
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
 
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
 
}

.container form .row .col .inputBox{
  margin:15px 0;
  z-index: 10;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
  border-radius: 10px;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
  justify-content: space-around;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
  
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}
.sub-btn{
  text-align: center;
}
.submit-btn{
  width: 50%;
  padding:12px;
  font-size: 17px;
  background: #436c61;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  border: none;
  outline: none;
  
}
.submit-btn:hover{
  background-color: #375850;
}

/* a */
  /* width: 100%;
  padding:12px;
  font-size: 17px; */

  /* background: rgb(0, 43, 102); */
  
  /* color:#fff;
  margin-top: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  background:linear-gradient(45deg,rgb(0, 43, 102),rgb(0, 70, 145) );
  transition: .2s linear; */


/* a:hover */
  /* background: rgb(0, 70, 145); */


  /* letter-spacing: 2px;
  opacity: .8; */







.popup1{
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  /* z-index: 10; */
  padding: 0 30px 30px ;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s,top 0.4s;
  }
  .openpopup2{
      visibility: visible;
      z-index: 50;
      top: 50%;
      transform: translate(-50%,-50%) scale(1);
  }
  
  .popup1 img{
  width: 100px;
  margin-top: -40px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2)
  }
  .popup1 h2{
      font-size: 38px;
      font-weight: 500;
      margin: 30px 10px;
      
  }
  .popup1 p{
      margin-bottom: 10px;
  }
  .popup1 a{
      width: 100%;
      margin-top: 100px;
      padding: 5px 100px 5px 100px;
      /* background:rgb(0, 43, 102) ; */
      color: #fff;
      border: 0;
      outline: none;
      font-size: 18px;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 0 5px 5px rgba(0,0,0,0.2);
      background: linear-gradient(45deg,rgb(0, 43, 102),rgb(0, 70, 145));
      transition: .2s linear;
  }
  
  .popup1 a:hover{
      /* background: rgb(0, 70, 145); */
      letter-spacing: 6px;
      opacity: .8;
    }
    .popup1 button{
      width: 100%;
      margin-top: 20px;
      padding: 5px 130px 5px 130px;
      /* background:rgb(0, 43, 102) ; */
      color: #fff;
      border: 0;
      outline: none;
      font-size: 18px;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 0 5px 5px rgba(0,0,0,0.2);
      background: linear-gradient(45deg,rgb(0, 43, 102),rgb(0, 70, 145));
      transition: .2s linear;
  }
  
  .popup1 button:hover{
      /* background: rgb(0, 70, 145); */
      letter-spacing: 6px;
      opacity: .8;
    }
.popup2{
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  /* z-index: 10; */
  padding: 0 30px 30px ;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s,top 0.4s;
  }
  .openpopup2{
      visibility: visible;
      z-index: 50;
      top: 50%;
      transform: translate(-50%,-50%) scale(1);
  }
  
  .popup2 img{
  width: 100px;
  margin-top: -40px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2)
  }
  .popup2 h2{
      font-size: 38px;
      font-weight: 500;
      margin: 30px 10px;
      
  }
  .popup2 p{
      margin-bottom: 10px;
  }
  .popup2 a{
      width: 100%;
      margin-top: 100px;
      padding: 5px 100px 5px 100px;
      /* background:rgb(0, 43, 102) ; */
      color: #fff;
      border: 0;
      outline: none;
      font-size: 18px;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 0 5px 5px rgba(0,0,0,0.2);
      background: linear-gradient(45deg,rgb(0, 43, 102),rgb(0, 70, 145));
      transition: .2s linear;
  }
  
  .popup2 a:hover{
      /* background: rgb(0, 70, 145); */
      letter-spacing: 6px;
      opacity: .8;
    }
    .popup2 button{
      width: 100%;
      margin-top: 20px;
      padding: 5px 130px 5px 130px;
      /* background:rgb(0, 43, 102) ; */
      color: #fff;
      border: 0;
      outline: none;
      font-size: 18px;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 0 5px 5px rgba(0,0,0,0.2);
      background: linear-gradient(45deg,rgb(0, 43, 102),rgb(0, 70, 145));
      transition: .2s linear;
  }
  
  .popup2 button:hover{
      /* background: rgb(0, 70, 145); */
      letter-spacing: 6px;
      opacity: .8;
    }











    /* nav{
      width: 100%;
      height: 7%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 30px;
  }
  nav ul{ 
      list-style: none;
      display: flex;
  }
  nav ul li{ 
      padding:  3px 15px;
  }
  .Resister a{     
      background-color:white;
      border-radius: 20px;
      padding: 5px 20px;
      color:black;
  }
  .Resister{ 
      color: white;
     
  }
  a{ 
      text-decoration: none;
      color: white;
      font-size: 15px;
      font-weight: 500;
      transition:  3s linear;
  } 
  nav a:hover{ 
      transition: none;
      color: #3aa858;
  } 
  .bi-list{
      display: none;
  }  */

  /*=============================== - Media Queries - ======================================= */

  @media only screen and (max-width: 1000px){
      
      nav{
          width: 100%;
          height: 7%;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 12px 20px;
      }
      .bi-list{
          display: unset;
          width: 40px;
          height: 40px;
          margin-right: 150px;
          }    
      nav ul{
          position: absolute;
          width: 170px;
          height: auto;
          flex-direction: column;
          border-radius: 5px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          justify-content: center;
          top: -100%;
          left: 5px;
          z-index: 20;
          margin-top: 70px;
          padding: 10px 20px;
          backdrop-filter: blur(15px);
          transition: 1s linear;
      }
      nav ul li{
          padding:5px 0px;
          text-align: left;
      }
      nav ul li a{
          color: black;
      }
      .active{
          position: fixed;
          flex-direction: column;
          justify-content: center;
          top: 0;
          left: 5px;
          z-index: 20;
          backdrop-filter: blur(15px);
          transition: 1s linear;
          margin: 0px;
      }
  }
