

body{
  background: rgb(84,84,84);
  background: linear-gradient(90deg, rgba(84,84,84,1) 21%, rgba(63,63,63,1) 55%, rgba(45,45,45,1) 93%);
}
#Feed_container{
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    border: #4CAF50 2px solid;
    opacity: 4;
    background-color: 
    #9ddeaf;
    color: #272727;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    #Feed_container h1{
        color:#272727;
    }
        .form-group {
          margin-bottom: 10px;
          line-height: 1.5pc;
        }
        label {
          display: block;
          font-weight: 600;
        }
        input[type="text"],
        textarea {
          width: 60%;
          padding: 10px;
          background-color:white;
          color: #272727;
        }
    
        button {
          margin-top: 10px;
          padding: 10px 20px;
          background-color: #4CAF50;
          color: #272727;
          border: none;
          cursor: pointer;
          font-weight: bold; 
          border-radius: 10px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          opacity: 6;
        }
        .ans{
            display: flex;
            gap: 10px;
        }